name: pre-build
on:
  push:
    branches: [ main, 4-ci-cd ]
  pull_request:
    branches: [ main, 4-ci-cd ]
jobs:
  build:
    name: build
    runs-on: ${{maxtix-os}}
    strategy:
      matrix:
        os: [ ubuntu-latest, macOS-latest ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
      - name: Install dependencies
        run: npm ci
      - name: Linting
        run: npm run lint
      - name: Remove previous build
        run: npm run prebuild
      - name: Build dependencies
        run: npm run build
