name: github
on: [push, pull_request]
jobs:
  install:
    name: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
      - if: ${{ steps.cache-npm.outputs.cache-hit == 'false' }}
        name: List the state of node modules
        continue-on-error: true
        run: npm list
      - name: Install dependencies
        run: |
          if [ -e package-lock.json ]; then
          npm ci
          else
          npm i
          fi
      - name: Cache node modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: 'node_modules/'
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
  build:
    name: build
    runs-on: ${{matrix.os}}
    needs:
      - install
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
      - name: Get cached file
        uses: actions/cache@v3
        id: cache-npm
        env:
          cache-name: cache-node-modules
        with:
            path: 'node_modules/'
            key:  ${{ runner.os }}-build-${{ env.cache-name }}-
      - name: Check directory
        run: echo $(ls .)
      - name: Linting
        run: npm run lint
      - name: Remove previous build
        run: npm run prebuild
      - name: Build frontend files
        run: npm run build:frontend
      - name: Archive frontend
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: actions/upload-artifact@v3
        with:
          name: frontend
          path: .next/
          retention-days: 5
      - name: Build backend files
        run: npm run build:backend
      - name: Archive backend files
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: actions/upload-artifact@v3
        with:
          name: backend
          path: dist/
          retention-days: 5
  release:
    name: release
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    needs:
      - build
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
      - name: Get cached node_modules
        uses: actions/cache@v3
        id: cache-npm
        env:
          cache-name: cache-node-modules
        with:
          path: 'node_modules/'
          key: ${{ runner.os }}-build-${{ env.cache-name }}-
      - name: Get Backend files
        uses: actions/download-artifact@v3
        with:
          name: backend
          path: dist/
      - name: Get Frontend files
        uses: actions/download-artifact@v3
        with:
          name: frontend
          path: .next/
      - name: Release new version
        uses: cycjimmy/semantic-release-action@v3
        with:
          branches: |
            [
              '+([0-9])?(.{+([0-9]),x}).x',
              'master',
              'main',
              'next',
              'next-major',
              {
                name: 'beta',
                prerelease: true
              },
              {
                name: 'alpha',
                prerelease: true
              }
            ]
          extends: |
            @semantic-release/apm-config
        id: release_info
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_FOR_GITHUB }}
      - name: Generate deployment package
        uses: montudor/action-zip@v1
        with:
          args: zip -qq -r deploy.zip .
      - name: Get Release files
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: actions/upload-artifact@v3
        with:
          name: deploy
          path: deploy.zip
          retention-days: 5
      - name: Deploy to AWS Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v20
        with:
          use_existing_version_if_available: true
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: kaifstore
          environment_name: Kaifstore-env-1
          version_label: v-kaifstore-${{ steps.release_info.outputs.new_release_version }}
          region: eu-central-1
          deployment_package: deploy.zip
          version_description: ${{ steps.semantic.outputs.new_release_notes }}

